<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
 
<beans>
 
 	<bean id="soap" class="com.charles.spring.Soap">
		<property name="bar" ref="bar"/>
	</bean>
	
	<bean id="bar" class="com.charles.spring.Bar">
	
	</bean>
	
	<bean id="foo" class="com.charles.spring.Foo">
	
	</bean>
	
	
 
</beans>